---
logging:
  level: INFO
  loggers:
    com.matthew.domino: DEBUG

server:
  applicationConnectors:
    - type: http
      port: 8080
  adminConnectors:
    - type: http
      port: 8081

maxChainSum: 1000
